/*Jonas Heisterkamp*/
 h1 {color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
 }
 
    
    b {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
  }
  a {

  }

}

    





